<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:Items' | abpLocalization }}
        </h5>
      </div>
      <div class="text-right col col-md-6">
        <div class="text-lg-right pt-2" *ngIf="tenantId">
          <button id="create" class="btn btn-primary" type="button" (click)="createItem()">
            <i class="fa fa-plus mr-1"></i>
            <span>{{ "::NewItem" | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="car-header">
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="search">Search</label>
            <input type="text" name="search" id="search" [(ngModel)]="input.searchKeyword" class="form-control"
              placeholder="Item name..." aria-describedby="helpId">
          </div>
        </div>
        <div class="col-md-3">
          <app-categorySelector [(selectedCategory)]="input.categoryId"></app-categorySelector>
        </div>
        <div class="col-md-3" *ngIf="!tenantId">
          <app-tenant-selector [(selectedTenant)]="input.tenantId"></app-tenant-selector>
        </div>
        <div class="col-md-3">
          <label for="" style="color: transparent;">Search</label>
          <button type="button" (click)="list.get()" class="btn btn-primary btn-lg btn-block">Refresh</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="items.items" [count]="items.totalCount" [list]="list" default>
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              ngbDropdownToggle>
              <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="createItem(row)" *ngIf="tenantId">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="setStock(row)" *ngIf="tenantId">
                {{ '::SetStockCount' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Code' | abpLocalization" prop="code"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Description' | abpLocalization" prop="description"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Barcode' | abpLocalization" prop="barcode"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Stock' | abpLocalization" prop="stockCount"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::CreationTime' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.creationTime | date }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Tenant' | abpLocalization" prop="tenantId">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ getTenantName(row.tenantId) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Category' | abpLocalization" prop="categoryId">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ getCategoryName(row.categoryId) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Price' | abpLocalization" prop="price">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.price | currency }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Photo' | abpLocalization" prop="photoUrl">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <img [src]="row.photoUrl" style="width: 50px; object-fit: contain;" alt="">
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>


<abp-modal #itemModal [(visible)]="isModalOpen" [size]="'xl'">
  <ng-template #abpHeader>
    <h3>{{ '::Item' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form (ngSubmit)="save()" #form="ngForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="item-name">Name</label><span> * </span>
            <input type="text" name="name" id="item-name" required class="form-control" [(ngModel)]="itemDto.name"
              autofocus />
          </div>
          <div class="form-group">
            <label for="item-code">Code</label><span> * </span>
            <input type="text" name="code" id="item-code" required class="form-control" [(ngModel)]="itemDto.code" />
          </div>

          <div class="form-group">
            <label for="item-description">Description</label><span> * </span>
            <input type="text" name="description" id="item-description" required class="form-control"
              [(ngModel)]="itemDto.description" />
          </div>

          <div class="form-group">
            <label for="item-barcode">Barcode</label><span> * </span>
            <input type="text" name="barcode" id="item-barcode" required class="form-control"
              [(ngModel)]="itemDto.barcode" />
          </div>

          <div class="form-group">
            <label for="item-price">Price</label><span> * </span>
            <input type="number" name="price" id="item-price" required class="form-control"
              [(ngModel)]="itemDto.price" />
          </div>
          <div class="form-group">
            <label for="item-oldpr">Old Price</label>
            <input type="number" name="oldpr" id="item-oldpr" class="form-control" [(ngModel)]="itemDto.oldPrice" />
          </div>
          <app-categorySelector [(selectedCategory)]="itemDto.categoryId" [required]="true"></app-categorySelector>
        </div>
        <div class="col-sm-6">
          <label for="photo">Upload photo</label>
          <br>
          <input type="file" id="photo" (change)="fileChangeEvent($event)" required />
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
            format="jpeg" (imageCropped)="imageCropped($event)" [resizeToWidth]="512" (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
      </div>

    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" #abpClose (click)="itemModal.visible=false;">
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="save()" [disabled]="!form || form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<abp-modal #stockModal [(visible)]="isStockModalOpen">
  <ng-template #abpHeader>
    <h3>{{ '::Stock' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form (ngSubmit)="saveStockCount()" #sform="ngForm">

      <div class="form-group">
        <label for="item-stockCount">StockCount</label><span> * </span>
        <input type="number" name="stockCount" id="item-stockCount" required class="form-control"
          [(ngModel)]="itemDto.stockCount" autofocus />
      </div>

    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" #abpClose (click)="stockModal.visible=false;">
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="saveStockCount()" [disabled]="!sform || sform.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
